# Node.js dependencies
node_modules/

# Build output
build/
dist/

# Local environment files
.env
.env.local

# Editor & IDE files
.vscode/
.idea/
*.iml

# Logs & caches
logs/
*.log
npm-cache/
yarn-cache/
.pnpm-store/
.cache/
.eslintcache
jest/

# MSW cache
public/mockServiceWorker.js

# Typescript build files
*.tsbuildinfo

# MacOS / Windows system files
.DS_Store
Thumbs.db
